<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ todo_list_detail.name }}</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th> Task </th>
                        <th> Due Date </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list_detail.all %}
                    <tr>
                        <td> {{ items.task }}</td>
                        <td> {{ items.due_date }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
